<!--begin::Layout-->
<div class="d-flex flex-column flex-lg-row">
  <!--begin::Content-->
  <div class="flex-lg-row-fluid mb-10 mb-lg-0 me-lg-7 me-xl-10">
    <!--begin::Card-->
    <div class="card">
      <!--begin::Card body-->
      <div class="card-body p-12">
          <!--begin::Wrapper-->
          <div class="mb-0">
            <!--begin::Row-->
            <div class="row gx-10 mb-5">
              <!--begin::Col-->
              <div class="col-lg-6">
                <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Type Dossier</label>
                <!--begin::Input group-->
                <div class="mb-5">
                  <!--begin::Select-->
                  <select [(ngModel)]="typeDossier" name="typeDossier" aria-label="Select a Type" data-control="select2" data-placeholder="Select currency" class="form-select form-select-solid">
                    <option value=""></option>
                    <option value="Import">Import</option>
                    <option value="Export">Export</option>
                  </select>
                  <!--end::Select-->
                </div>
                <!--end::Input group-->
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-lg-6 " *ngIf="!isClient &&  isLoading">
                <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Client</label>
                <!--begin::Input group-->
                <div class="mb-5">
                  <!--begin::Select-->
                  <select  [(ngModel)]="c"  name="c" aria-label="Select a Client" data-control="select2" data-placeholder="Select currency" class="form-select form-select-solid">
                    <option [selected]="!c" value=""></option>
                    <option *ngFor="let client of users " value="{{client.username}}">{{client.username}}</option>
                  </select>
                  <!--end::Select-->
                </div>
                <!--end::Input group-->

              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Table wrapper-->
            <div class="table-responsive mb-10">
              <!--begin::Table-->
              <table class="table g-5 gs-0 mb-0 fw-bolder text-gray-700" data-kt-element="items">
                <!--begin::Table head-->
                <thead>
                <tr class="border-bottom fs-7 fw-bolder text-gray-700 text-uppercase">
                  <th class="min-w-300px w-475px">Item</th>
                  <th class="min-w-100px w-475px">QTY</th>
                  <th class="min-w-75px w-75px text-end">Action</th>
                </tr>
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody *ngFor="let formfile  of forms ; ">
                <tr class="border-bottom border-bottom-dashed" data-kt-element="item">
                  <td class="pe-7">
                    <!--begin::Select-->
                    <select [(ngModel)]="formfile.name"  name="name" aria-label="Select a Type folder" data-control="select2" data-placeholder="Select currency" class="form-select form-select-solid form-control mb-2">
                      <option value="Facture" [selected]="formfile.name === 'Facture'">Facture</option>
                      <option value="Connaissement_BL" [selected]="formfile.name === 'Connaissement_BL'">Connaissement/BL</option>
                      <option value="Certif_origine" [selected]="formfile.name === 'Certif_origine'">Certif. d'origine</option>
                      <option value="CMR" [selected]="formfile.name === 'CMR'">CMR</option>
                      <option value="Eng_import(Portnet)" [selected]="formfile.name === 'Eng_import(Portnet)'">Eng.import(Portnet)</option>
                      <option value="Lisence_import" [selected]="formfile.name === 'Lisence_import'">Lisence d'import</option>
                      <option value="liscence_export" [selected]="formfile.name === 'liscence_export'">liscence d'export</option>
                      <option value="Scellee" [selected]="formfile.name === 'Scellee'">Scellee</option>
                      <option value="Autoris_Douane" [selected]="formfile.name === 'Autoris_Douane'">Autoris. Douane</option>
                      <option value="Certif_Phytosanitaire_veterinaire" [selected]="formfile.name === 'Certif_Phytosanitaire_veterinaire'">Certif.Phytosanitaire/veterinaire </option>
                      <option value="Autres" [selected]="formfile.name === 'Autres'">Autres</option>
                    </select>
                    <!--end::Select-->
                  </td>
                  <td class="pe-7">
                    <input (change)="selectedfile($event , formfile.index)" type="file" class="form-control form-control-solid mb-2" name="name[]" placeholder="Item name" />
                  </td>
                  <td class="pt-5 text-end">
                    <button (click)="deleterow(formfile.index)" type="button" class="btn btn-sm btn-icon btn-active-color-primary" data-kt-element="remove-item">
                      <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                      <span class="svg-icon svg-icon-3">
																					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																						<path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="black" />
																						<path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="black" />
																						<path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="black" />
																					</svg>
																				</span>
                      <!--end::Svg Icon-->
                    </button>
                  </td>
                </tr>
                </tbody>
                <!--end::Table body-->
                <!--begin::Table foot-->
                <tfoot>
                <tr class="border-top border-top-dashed align-top fs-6 fw-bolder text-gray-700">
                  <th class="text-primary">
                    <button (click)="addrow()" class="btn btn-link py-1" data-kt-element="add-item">Add item</button>
                  </th>
                </tr>
                </tfoot>
                <!--end::Table foot-->
              </table>
            </div>
            <!--end::Table-->
          </div>
          <!--end::Wrapper-->
        <!--end::Form-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Content-->
  <!--begin::Sidebar-->
  <div class="flex-lg-auto min-w-lg-300px">
    <!--begin::Card-->
    <div class="card" data-kt-sticky="true" data-kt-sticky-name="invoice" data-kt-sticky-offset="{default: false, lg: '200px'}" data-kt-sticky-width="{lg: '250px', lg: '300px'}" data-kt-sticky-left="auto" data-kt-sticky-top="150px" data-kt-sticky-animation="false" data-kt-sticky-zindex="95">
      <!--begin::Card body-->
      <div class="card-body p-10">
        <!--begin::Input group-->
        <div class="mb-10">
          <!--begin::Label-->
          <label class="form-label fw-bolder fs-6 text-gray-700">Type Operation</label>
          <!--begin::Separator-->
          <div class="separator separator-dashed mb-8"></div>
          <!--end::Separator-->
          <!--end::Label-->
          <!--begin::Option-->
          <label class="form-check form-switch form-switch-sm form-check-custom form-check-solid flex-stack mb-5">
            <span class="form-check-label ms-0 fw-bolder fs-6 text-gray-700">Normale</span>
            <input [checked]="normale" (click)="isNormale()" class="form-check-input" type="checkbox"  value="" />
          </label>
          <!--end::Option-->
          <!--begin::Option-->
          <label class="form-check form-switch form-switch-sm form-check-custom form-check-solid flex-stack mb-5">
            <span class="form-check-label ms-0 fw-bolder fs-6 text-gray-700">Urgente</span>
            <input [checked]="urgent" (click)="isUrgent()" class="form-check-input" type="checkbox" value="" />
          </label>
          <!--end::Option-->
          <!--begin::Option-->
          <label class="form-check form-switch form-switch-sm form-check-custom form-check-solid flex-stack">
            <span class="form-check-label ms-0 fw-bolder fs-6 text-gray-700">TR Travail Renumere</span>
            <input [checked]="tr" (click)="isTr()" class="form-check-input" type="checkbox" value="" />
          </label>
          <!--end::Option-->
        </div>
        <!--end::Input group-->
        <!--begin::Separator-->
        <div class="separator separator-dashed mb-8"></div>
        <!--end::Separator-->
        <!--begin::Actions-->
        <div class="mb-0">
          <button (click)="onFileSelected()" type="submit" class="btn btn-primary w-100" id="kt_invoice_submit_button">
            <!--begin::Svg Icon | path: icons/duotune/general/gen016.svg-->
            <span class="svg-icon svg-icon-3">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<path d="M15.43 8.56949L10.744 15.1395C10.6422 15.282 10.5804 15.4492 10.5651 15.6236C10.5498 15.7981 10.5815 15.9734 10.657 16.1315L13.194 21.4425C13.2737 21.6097 13.3991 21.751 13.5557 21.8499C13.7123 21.9488 13.8938 22.0014 14.079 22.0015H14.117C14.3087 21.9941 14.4941 21.9307 14.6502 21.8191C14.8062 21.7075 14.9261 21.5526 14.995 21.3735L21.933 3.33649C22.0011 3.15918 22.0164 2.96594 21.977 2.78013C21.9376 2.59432 21.8452 2.4239 21.711 2.28949L15.43 8.56949Z" fill="black" />
															<path opacity="0.3" d="M20.664 2.06648L2.62602 9.00148C2.44768 9.07085 2.29348 9.19082 2.1824 9.34663C2.07131 9.50244 2.00818 9.68731 2.00074 9.87853C1.99331 10.0697 2.04189 10.259 2.14054 10.4229C2.23919 10.5869 2.38359 10.7185 2.55601 10.8015L7.86601 13.3365C8.02383 13.4126 8.19925 13.4448 8.37382 13.4297C8.54839 13.4145 8.71565 13.3526 8.85801 13.2505L15.43 8.56548L21.711 2.28448C21.5762 2.15096 21.4055 2.05932 21.2198 2.02064C21.034 1.98196 20.8409 1.99788 20.664 2.06648Z" fill="black" />
														</svg>
													</span>
            <!--end::Svg Icon-->Send Folder</button>
        </div>
        <!--end::Actions-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Sidebar-->
</div>
<!--end::Layout-->
